

<h1>Total Amount:500.00 Rs</h1>
<form action="/pay" method="post">
<script src="https://checkout.stripe.com/checkout.js"
class="stripe-button"
data-key="pk_test_8WRhgxTLYfx07XoJfZTBQj5L00w25JWm4L"
data-amount="500.00"
data-name="Food Order"
data-description="Food Order System"
data-locale="auto"
data-currency="inr"
>
</script>
<input type="hidden" name="amount" value="500.00" />
</form>
